.flex-all-center {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}
.btn {
  padding: 5px 10px;
  color: white;
  background-color: var(--main-bg-color);
  border-radius: 7px;
  border: solid white;
  cursor: pointer;
}
.btn:hover {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace    ;
}
